# Agrupamiento K Means

## Importar librerias

** Importe las librerias que generalmente usa para el análisis de datos. **

In [27]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

## Obtener los Datos

In [28]:
cd = pd.read_csv('breast_cancer.csv',index_col = 0)

** Lea en el archivo breast_cancer.csv usando read_csv. Configure la primera columna como índice.**

**Revise los primeros registros de los datos**

In [29]:
cd.head(5)

,uniformidad_del_tamano_de_celda,uniformidad_de_forma_de_celda,adherencia_marginal,tamano_de_una_celula_epitelial,nucleos_desnudos,cromatina_blanda,nucleolos_normales,mitosis,clase
espesor_del_grupo,,,,,,,,,
5,1,1,1,2,1,3,1,1,0
5,4,4,5,7,10,3,2,1,0
3,1,1,1,2,2,3,1,1,0
6,8,8,1,3,4,3,7,1,0
4,1,1,3,2,1,3,1,1,0

** Aplique los métodos info() y describe() en los datos.**

In [33]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 5 to 8
Data columns (total 9 columns):
uniformidad_del_tamano_de_celda    569 non-null int64
uniformidad_de_forma_de_celda      569 non-null int64
adherencia_marginal                569 non-null int64
tamano_de_una_celula_epitelial     569 non-null int64
nucleos_desnudos                   569 non-null int64
cromatina_blanda                   569 non-null int64
nucleolos_normales                 569 non-null int64
mitosis                            569 non-null int64
clase                              569 non-null int64
dtypes: int64(9)
memory usage: 44.5 KB

In [34]:
cd.describe()

,uniformidad_del_tamano_de_celda,uniformidad_de_forma_de_celda,adherencia_marginal,tamano_de_una_celula_epitelial,nucleos_desnudos,cromatina_blanda,nucleolos_normales,mitosis,clase
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,3.184534,3.265378,2.845343,3.298770,-2632.518453,3.490334,2.989455,1.637961,0.365554
std,3.002236,2.955935,2.873626,2.304775,16035.653408,2.324925,3.091315,1.773941,0.482009
min,1.000000,1.000000,1.000000,1.000000,-100000.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000
50%,1.000000,2.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,0.000000
75%,5.000000,5.000000,4.000000,4.000000,8.000000,5.000000,4.000000,1.000000,1.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

## Creación del clúster K Means

¡Ahora es el momento de crear las etiquetas del Cluster!

** Importar KMeans de SciKit Learn. **

In [38]:
from sklearn.cluster import KMeans

** Crea una instancia de un modelo de KM eans con 2 clústeres. **

In [39]:
kmeans = KMeans(n_clusters=2)

** Ajuste el modelo a todos los datos a excepción de la etiqueta clase. **

In [40]:
kmeans.fit(cd.drop('clase',axis=1))

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

** ¿Cuáles son los centro del grupo de los vectores? **

In [41]:
kmeans.cluster_centers_

array([[ 3.20216606e+00,  3.27256318e+00,  2.87184116e+00,
         3.31949458e+00,  3.78519856e+00,  3.49638989e+00,
         2.99277978e+00,  1.65523466e+00],
       [ 2.53333333e+00,  3.00000000e+00,  1.86666667e+00,
         2.53333333e+00, -1.00000000e+05,  3.26666667e+00,
         2.86666667e+00,  1.00000000e+00]])

In [42]:
cd['Cluster'] = cd['clase']

## Evaluación

In [43]:
cd.head(10)

,uniformidad_del_tamano_de_celda,uniformidad_de_forma_de_celda,adherencia_marginal,tamano_de_una_celula_epitelial,nucleos_desnudos,cromatina_blanda,nucleolos_normales,mitosis,clase,Cluster
espesor_del_grupo,,,,,,,,,,
5,1,1,1,2,1,3,1,1,0,0
5,4,4,5,7,10,3,2,1,0,0
3,1,1,1,2,2,3,1,1,0,0
6,8,8,1,3,4,3,7,1,0,0
4,1,1,3,2,1,3,1,1,0,0
8,10,10,8,7,10,9,7,1,1,1
1,1,1,1,2,10,3,1,1,0,0
2,1,2,1,2,1,3,1,1,0,0
2,1,1,1,2,1,1,1,5,0,0
4,2,1,1,2,1,2,1,1,0,0

** Cree una matriz de confusión y un informe de clasificación para ver qué tan bien funcionó el clúster de K Means sin etiquetas. **

In [44]:
from sklearn.metrics import confusion_matrix, classification_report
print (confusion_matrix(cd['Cluster'],kmeans.labels_))

[[348  13]
 [206   2]]

In [45]:
print (classification_report(cd['Cluster'],kmeans.labels_))

              precision    recall  f1-score   support

           0       0.63      0.96      0.76       361
           1       0.13      0.01      0.02       208

   micro avg       0.62      0.62      0.62       569
   macro avg       0.38      0.49      0.39       569
weighted avg       0.45      0.62      0.49       569

# 0 : los que son benignos
# 1 : los que son malignos

In [46]:
kmeans.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int32)

¡No está mal teniendo en cuenta que el algoritmo está utilizando puramente las características para agrupar dos tipos de categorias ( benigno , maligno)! ¡Con suerte, puede comenzar a ver cómo K Means es útil para agrupar datos no etiquetados!

## Great Job!